.c-nav {
  background-color: $light-gray;
  padding: 1rem 0;

  &__container {
    @include flex(space-between, center);
  }

  &__list {
    @include flex(false, center);
  }

  &__link {
    color: $dark-gray;
    font-weight: 400;
    padding: 1rem 1.5rem;
  }

  &__user {
    @media (max-width: 1023px) {
      margin-right: 2rem;
    }
  }
}
