.c-pricing-card {
  background-color: $white;
  border-top: 0.25rem solid transparent;
  border-radius: $global-radius * 2;
  color: $dark-gray;
  padding: 1.5rem 3rem 2rem;
  position: relative;
  transition: $global-transition;

  &--popular {
    border-color: $secondary-color;
  }

  &__header {
    position: relative;
  }

  &__package {
    color: $light-gray-3;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $secondary-color;
    border-radius: 2rem;
    color: $white;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }

  &__price {
    @include flex(flex-start, baseline);
    margin-bottom: 1rem;
  }

  &__text {
    &--smaller {
      font-size: 0.75rem;
    }

    &--small {
      font-size: 1rem;
    }

    &--medium {
      font-size: 1.75rem;
    }

    &--big {
      font-size: 3rem;
      min-width: 3rem;
    }
  }

  &__description {
    color: $gray;
    font-size: 0.75rem;
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  &__list {
    color: $dark-gray;
    margin-bottom: 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }

    &--cancelled {
      color: $gray;
      text-decoration: line-through;
    }
  }

  .c-btn {
    margin-bottom: 0.75rem;
  }
}

.c-pricing-cards {
  @include grid(false, 2rem);
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &__extra-info {
    grid-column: 1 / 4;
    text-align: center;

  }

  &__link {
    color: $white;
  }
}
